<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSPTitleGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TSPTitleGenerator.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\Users\toti9\Google Drive\project - video\főcím\TSP\</value>
            </setting>
            <setting name="BlockNameLocation" serializeAs="String">
                <value>273, 885</value>
            </setting>
            <setting name="OutputImageSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="VariantsLocation" serializeAs="String">
                <value>273, 931</value>
            </setting>
            <setting name="CustomMoldeLocation" serializeAs="String">
                <value>273, 977</value>
            </setting>
            <setting name="CTMSupportLocation" serializeAs="String">
                <value>273, 1023</value>
            </setting>
            <setting name="OverworldColorCode" serializeAs="String">
                <value>64, 106, 64</value>
            </setting>
            <setting name="NetherColorCode" serializeAs="String">
                <value>118, 61, 59</value>
            </setting>
            <setting name="EndColorCode" serializeAs="String">
                <value>235, 243, 181</value>
            </setting>
            <setting name="BlockBackgroundLocation" serializeAs="String">
                <value>0, 856</value>
            </setting>
            <setting name="ItemNameLocation" serializeAs="String">
                <value>113, 1023</value>
            </setting>
            <setting name="EntityNameLocation" serializeAs="String">
                <value>153, 1023</value>
            </setting>
            <setting name="SingleBackgroundLocation" serializeAs="String">
                <value>0, 994</value>
            </setting>
        </TSPTitleGenerator.Properties.Settings>
    </userSettings>
</configuration>